<form method="post" 
    action="{{ path('admin_assignment_update_status', {'id': assignment.id}) }}"
    class="d-inline-flex flex-wrap align-items-center">

    <input type="hidden" name="token" value="{{ csrf_token('update-assignment-' ~ assignment.id) }}"> 

    <div class="me-2 mb-1 mb-sm-0">
        <label class="visually-hidden" for="status">Select status for change</label>
        {{ include('partials/_select.html.twig', {
            name: 'status',
            options: enum('App\\Enum\\AssignmentStatus').cases(),
            additionalClass: 'form-select-sm w-auto',
            selectedValue: assignment.status.value, 
            includePlaceholder: true,
            placeholderText: '-- Change status to --'
        }) }}
    </div>

    <button type="submit" class="btn btn-sm btn-outline-success">
        <i class="bi bi-check-lg"></i> Save
    </button>
</form>