{% extends 'base.html.twig' %}

{% block title %}Shifts calendar{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-4">Shift Calendar</h1>

    <div {{ stimulus_controller('calendar', {
        shiftsUrl: path('api_calendar_shifts_data'),
        shiftDetailsUrl: url('shift_details')
        }) }}>
        <div {{ stimulus_target('calendar', 'calendarElement') }}></div>
    </div>

</div>
{% endblock %}