{% extends 'base.html.twig' %}

{% block title %}Shifts calendar{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-4">Shift Calendar</h1>

     {# IF ADMIN #}
     <a class="btn btn-primary" href="{{ path('shift_create') }}">Schedule Shift</a>
     
    <div {{ stimulus_controller('calendar', {
        shiftsUrl: path('api_shifts'),
        shiftShowUrl: url('shift_show')
        }) }}>
        <div {{ stimulus_target('calendar', 'calendarElement') }}></div>
    </div>

   

</div>
{% endblock %}